body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ea7979;
}

h1.item {
    text-align: center;
}

.button {
    position: absolute;
    border: 0px;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#ya {
    background-color: #3c9db3;
}

#tidak {
    background-color: #ea7979;
}